RAG.json
{
  "name": "RAG",
  "nodes": [
    {
      "parameters": {},
      "id": "8a1c0696-125c-44da-8fa9-3b91d91f5709",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.manualChatTrigger",
      "typeVersion": 1.1,
      "position": [
        -240,
        -208
      ]
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {}
      },
      "id": "1d0007f9-110a-4d42-ad87-c96a94cf2754",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -112,
        -48
      ],
      "credentials": {
        "openAiApi": {
          "id": "7dUsNawTqLmL0tti",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "482e693b-2c66-4691-b360-e8e66581a68b",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        16,
        -32
      ]
    },
    {
      "parameters": {
        "name": "Data",
        "description": "Call this tool to access the database to answer the user's question",
        "topK": 10
      },
      "id": "8105c997-49da-4cb7-b3a4-30c8fcc9aad6",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        160,
        0
      ]
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {}
      },
      "id": "9edeb330-2da7-405f-a0cd-07909d3d13bd",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        272,
        224
      ],
      "credentials": {
        "openAiApi": {
          "id": "7dUsNawTqLmL0tti",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "8d512848-268e-4327-a7c7-e02f8ace5849",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        32,
        240
      ],
      "credentials": {
        "openAiApi": {
          "id": "7dUsNawTqLmL0tti",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a assistant. Your job is to answer questions from the staff about the net sale, financial report, recommendations etc. All of this information can be found in the vector store tool, so call that tool each time you are asked a question to ensure you are providing the staff with accurate information. Please be professional and throw the recommendations."
        }
      },
      "id": "7ecf0c0c-73c4-49fb-a476-71b20e5ddaaa",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -32,
        -208
      ]
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "drive",
          "mode": "list",
          "cachedResultName": "drive"
        },
        "options": {}
      },
      "id": "ba06fafb-858a-468f-9c3f-d712492da871",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        32,
        112
      ],
      "credentials": {
        "pineconeApi": {
          "id": "5ex165hjIzaxHxMQ",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "12b52dc2-fdfe-423a-bb64-07733fb1fbd8",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        768,
        -192
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "c1ad4c8f-4b0f-4103-8d02-a11ef9726cf3",
      "name": "Get Content",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1168,
        -192
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "uvtXoHUqT6SlrKuh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c0ddbf76-1357-4555-b59b-e1b3cc288220",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1376,
        -192
      ]
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "id": "568e0134-46c2-4cc1-9864-2c365fa9de61",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1680,
        16
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ef1c2f3a-ce70-4550-a883-b3c4e01279c3",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1680,
        176
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "52cf0450-7e63-41f0-8ffa-ee145307855a",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        1568,
        16
      ],
      "credentials": {
        "openAiApi": {
          "id": "7dUsNawTqLmL0tti",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "drive",
          "mode": "list",
          "cachedResultName": "drive"
        },
        "options": {}
      },
      "id": "e32f654e-0c22-4ecf-84c1-e9ea465974bc",
      "name": "Pinecone Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        1616,
        -192
      ],
      "credentials": {
        "pineconeApi": {
          "id": "5ex165hjIzaxHxMQ",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1HIaaJcuK9uswFEYMHr0d0lx0q4vijY8Q",
            "mode": "list",
            "cachedResultName": "database",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1HIaaJcuK9uswFEYMHr0d0lx0q4vijY8Q"
          }
        },
        "options": {}
      },
      "id": "c0de9d68-29c5-4e38-a4f0-4cb42ca0aeaa",
      "name": "Search files and folders",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        960,
        -192
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "uvtXoHUqT6SlrKuh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1HIaaJcuK9uswFEYMHr0d0lx0q4vijY8Q",
          "mode": "list",
          "cachedResultName": "database",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1HIaaJcuK9uswFEYMHr0d0lx0q4vijY8Q"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        784,
        160
      ],
      "id": "12b99614-5e3b-4a00-8560-056e66b9cd25",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "uvtXoHUqT6SlrKuh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "626d38d7-3490-4cc1-9cf9-a14bb790345a",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "3af1711e-2009-4dc9-a9d3-b73e894ef5c0",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        160
      ],
      "id": "c0de5755-2943-41a7-a0e9-ce702ae77a46",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "drive",
          "mode": "list",
          "cachedResultName": "drive"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1280,
        160
      ],
      "id": "42bc6278-81d4-4d65-9e88-715fed16c29e",
      "name": "Pinecone Vector Store2",
      "credentials": {
        "pineconeApi": {
          "id": "5ex165hjIzaxHxMQ",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1232,
        336
      ],
      "id": "d34a06b9-b1c5-485a-b745-01b16f413663",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "7dUsNawTqLmL0tti",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1360,
        336
      ],
      "id": "ae26aeb2-9ee9-413f-bc5a-7d0e735125c8",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1120,
        160
      ],
      "id": "1d8536ef-087a-4822-8e9b-c3d22b04f918",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "uvtXoHUqT6SlrKuh",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Content": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Get Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "77d8b707-cdbd-4944-946a-0e1a0307bef8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7880dc5fdf3d02e2e81e2059676d20c56c6503055eaf608f739b4c4bf24bf4d1"
  },
  "id": "kAhsuQ04oae81G0i",
  "tags": []
}